extends ../../base
block title
    | #{post.title}
block content
    style.
        .content {
            padding-left: 300px;
            margin-top: 0;
            padding-top: 0;
        }
        .my-container {
            padding: 10px 10px 10px 10px;
        }
        .center-block {
            float: none !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
            .content {
                padding-left: 0;
            }

        }
    div.content
        div.my-container
            h3(style="text-align: center;") Edit post
            div.container(style="display: block;")
                if error
                    p #{error}
                form(action="/appanel/posts/edit/#{post._id}" method="post" enctype="multipart/form-data" id="theForm")
                    div.input-field
                        input(type="text" name="title" id="title" maxlength="125" value="#{post.title}" required)
                        label(for="title") Title
                    div.input-field
                        input(type="text" name="description"
                            id="description" maxlength="255" value="#{post.description}" required)
                        label(for="description") Description
                    div.input-field
                        textarea.materialize-textarea(name="content" id="content" required) #{post.content}
                        label(for="content") Content
                    div.input-field
                        input.datepicker(type="date" name="publicationDate"
                            id="publicationDate" value="#{post.publicationDate}" required)
                        label(for="publicationDate") Publication date
                    div.input-field
                        div.chips.chips-placeholder
                        input(type="hidden" name="tags" id="tags" value="#{post.tags}")
                        label Tags
                    div.switch
                        label Inactive
                            - if (post.active)
                                input(type="checkbox" name="active" id="active" value="1" checked)
                            - else
                                input(type="checkbox" name="active" id="active" value="1")
                            span.lever
                            |Active
                    div.field-field.input-field
                        div
                            span Cover
                        input(type="file" name="cover" id="cover" class="browser-default"
                            value="#{post.cover.originalname}")
                    div.row.center-align
                        - if (post.cover.originalname != null)
                            div.col.s12.m6.center-align.center-block
                                img(src="/uploads/covers/#{post.cover.path}" class="responsive-img center-block"
                                    id="coverImg")
                    div.input-field
                        button.btn Update

block script
    script.
        var date = new Date("#{post.publicationDate}");
        var pickDate = $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });

        var $picker = pickDate.pickadate('picker')
        $picker.set("select", date);
        $("#cover").change(function(e) {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#coverImg").attr("src", e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $(".chips-placeholder").material_chip();

        $(function() {
            var tags;
            if ($("#tags").val().indexOf(",") != -1) {
                tags = $("#tags").val().split(",");
            } else {
                tags = [$("#tags").val()];
            }

            var chipData = [];
            if (tags.length >= 1) {
                for (var i in tags) {
                    chipData.push({
                        tag: tags[i],
                    });
                }

                $('.chips-placeholder').material_chip({
                    data: chipData
                });
            }
        })

        $("#theForm").submit(function (e) {
            var data = [];
            var tags = $(".chips").material_chip("data");
            for (var i in tags) {
                var iTag = tags[i];
                data.push(iTag.tag);
            }
            $("#tags").val(data);
        });