extends ../../base
block title
    | The post that will change the world
block content
    style.
        .content {
            padding-left: 300px;
            margin-top: 0;
            padding-top: 0;
        }
        .my-container {
            padding: 10px 10px 10px 10px;
            display: flex;
        }
        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
            .content {
                padding-left: 0;
            }
        }

    div.content
        div.my-container
            div.input-field
                a(class="btn" href="/appanel/posts/new") New post
        div.my-container
            if error
                p #{error}
            div.col.s12.m4
                form(action="")
                    div.input-field.col.s12.m4
                        input(type="text" name="q" id="q" value="#{q}")
                        label(for="q") Search
            - if (posts.length == 0)
                p There's doesn't exists posts or your search doesn't match with any of them
        div.row
            - each post in posts
                div.col.s12.m6
                    div.card.blue-grey.darken-1
                        div.card-content.white-text
                            span.card-title(data-id="#{post._id}") #{post.title}
                            p #{post.description}
                            p(style="margin-top: 30px;") Publication: #{post.publicationDate}
                            - if (post.active)
                                p Active
                            - else
                                p Inactive
                        div.card-action
                            a(href="/appanel/posts/edit/#{post._id}") Edit
                            a.openModal(href="#") Remove

    // Invisible: modal to remove posts
    div.modal#removePost
        div.modal-content
            h4 Remove post
            p Are you sure you want to remove #[strong#publication] ?
        div.modal-footer
            btn.modal-action.waves-effect.waves-green.btn-flat#removeIt Remove it
            btn.modal-action.modal-close.waves-effect.waves-green.btn-flat#cancelRemoveIt Cancel


block script
    - if (success)
        script.
            Materialize.toast("#{success}", 4000) // 4000 is the duration of the toast
    script.
        var id;
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });

        $(".openModal").click(function (e) {
            e.preventDefault();
            var publication = $(this).closest(".card").find(".card-title").text();
            $("#publication").text(publication);

            $("#removePost").modal("open");

            id = $(this).closest(".card").find(".card-title").attr("data-id");
        });

        $("#removeIt").click(function() {
            var iThis = $(this);
            $(iThis).attr("disabled", true);

            $.ajax({
                url: "/appanel/posts/remove",
                type: "post",
                dataType: "json",
                data: {
                    _id: id
                },
                complete: function () {
                    $(iThis).attr("disabled", false);
                },
                success: function(data) {
                    console.log(data);
                    window.location.reload();
                },
                error: function(xhr) {
                    var contentType = xhr.getResponseHeader("content-type");
                    if (contentType.indexOf("html") > -1) {
                        location.reload();
                    } else {
                        alert("Error de comunicaciones");
                    }
                }

            });
        });
